#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: flex;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.logo {
  width: 30%; 
  height: auto; 
  max-width: 250px;
  position: absolute;
  top: 1rem; 
  left: 1rem; 
}

.background {
  width: 60%;
  height: auto;
  max-width: 600px; 
  position: absolute;
  bottom: 1rem; 
  right: 1rem; 
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu {
  width: 3%;
  height: auto;
  max-width: 50px; 
  position: absolute;
  top: 1rem; 
  right: 1rem; 
}
h1 {
font-family: 'Poppins', sans-serif; 
width: 33%;
  position: absolute;
  top: 10rem; 
  left: 0rem; 
 
}
p {
  font-family: 'Roboto', sans-serif;
  width: 25%;
  position: absolute;
  left: 1rem;
  width: 50%;
  border: #e60b0baa;
  font-size: 25px;
}
.button-primary {
  background-color: #ffffff;
  color: rgb(110, 33, 33);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 70%;
  left: 1rem;
  bottom: 15rem;
  position: absolute;
}
.button-secondary {
  background-color: #161616;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 70%;
  left: 1rem;
  bottom: 10rem;
  position: absolute;
}
